
<section class="Section">
    <div class="SectionTitle">
        <p class="SectionTitle-text"><%= section_title %></p>
        <p class="SectionTitleCount"><%= todos.completed.count %>/<%= todos.count %></p>
    </div>
    <ul class="MyTodo-ul">
        <% todos.all.each do |todo| %>
            <li class='MyTodoItem'>
                <label class='MyTodoItem-Container'>
                    <%= form_with(url: "/todos/#{todo.id}" ,method: "put") do %>
                        <input 
                            class='MyTodoItem-checkbox' 
                            name="completed" 
                            type="checkbox" <%= todo.completed ? "checked" : "" %>
                            onclick="this.form.submit()"
                        />
                    <% end %>
                    <% if todo[:completed]==true%>
                        <div class="Strike">
                            <%= todo.todo_text %>
                        </div>
                    <%else%>
                        <%= todo.todo_text %>
                    <% end %>
                    
                    <% if show_due_date %>
                        <p class="MyTodoItem-dueDate"> <%= todo.due_date.to_s(:short)%> </p>
                    <% end %>
                    <a class="MyTodoItem-delete" href="javascript:void(0)">
                        <img src="delete-outline.jpg" height="22px" width="25px" alt="Delete icon">
                    </a>
                </label>
            </li>
        <% end %>
    </ul>
</section>